.text-zone {
	position: relative;
	max-height: 90%;
	max-width: 95%;
	margin: 0 auto;

	h1 {
		display: inline-block;
		color: white;
		font-size: 8vmax;
		margin: 0 auto;
		font-weight: 500;
	}
	.name {
		color: hsl(0, 90%, 50%);
	}

	.hi {
		opacity: 0;
		animation: fadeIn 4s forwards;
		animation-delay: 0s;
	}
	h1,
	h2 {
		font-family: 'Coolvetica';
	}
	h2 {
		font-size: 5vmax;
		margin: 0 auto;
        margin-bottom: 10px;
		font-weight: 400;
		color: hsl(0, 100%, 70%);
	}
    .link-zone {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
	.links {     
		color: white;
		font-size: 3vmax;
        margin-left: 20px;
        margin-right: 20px;      
        margin-top: 80px;
		font-weight: 500;
        animation: fadeInUp 1.5s 1s;
        animation-fill-mode: forwards;
        opacity: 0;
        line-height: 50px !important;
    }
	.links:hover,
	.links:focus {
		color: grey;
		border-color: grey;
	}
    .large {
        font-size: 4.2vmax;
    }
    .small
    {
        font-size: 5.5vmin;
    }
}
.image {
    width: 30vmax;
    height: auto;
    max-height: 150px;
    border-radius: 20px;
    animation: fadeInUp 1.5s 0s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@media screen and (max-width: 600px)
{
    body {
        overflow-y: auto;
    }
    .nav-bar {
        margin-bottom: 10px;
    }
    .links {
        margin-top: 40px !important;
    }
}


