.text-zone {
	position: relative;
	max-height: 90%;
	max-width: 95%;
	margin: 0 auto;

	h1 {
		display: inline-block;
		color: white;
		font-size: 8vmax;
		margin: 0 auto;
		font-weight: 500;
	}
	.name {
		color: hsl(0, 90%, 50%);
	}

	.hi {
		opacity: 0;
		animation: fadeIn 4s forwards;
		animation-delay: 0s;
	}
	h1,
	h2 {
		font-family: 'Coolvetica';
	}
	h2 {
		font-size: 5vmax;
		margin: 0 auto;
        margin-bottom: 10px;
		font-weight: 400;
		color: hsl(0, 100%, 70%);
	}
    .link-zone {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 50px auto;
        justify-content: center;
        width: 100%;
    }
	.links {     
        text-align: center;
		color: white;
		font-size: 3vmax;
        margin: 40px auto !important;    
        margin-top: 80px;
        margin-bottom: 20px;
		font-weight: 500;
        animation: fadeInUp 1.5s 1s;
        animation-fill-mode: forwards;
        opacity: 0;
        line-height: 50px !important;
        display: block;
    }
	.links:hover,
	.links:focus {
		color: grey;
		border-color: grey;
	}
    .large {
        font-size: 4.2vmax;
    }
    .small
    {
        font-size: 5.5vmin;
    }
    .item {
        width: 40%;
        max-width: 900px;
        min-width: 200px;
        margin: 50px auto;
        min-height: 100px;
        flex-wrap: wrap;
        justify-content: center;
        flex-flow: column wrap; 
    }
    .image {
        margin: 0 auto;
        display: block;
        width: 100%;
      max-width: 600px;
      min-width: 200px;
      height: auto;
      max-height: 280px;
        border-radius: 20px;
        animation: fadeInUp 1.5s 0s;
        animation-fill-mode: forwards;
        opacity: 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px)
{
    body {
        overflow-y: auto;
    }
    .nav-bar {
        margin-bottom: 10px;
    }
    .item {
        height: 150px;
        margin-top: 0px;
    }
    .link-zone {
        margin: 0 auto !important;
    }
    h1 {
        margin-bottom: 0px !important;
    }

}


