.logo {
	display: block;
    opacity: 0;
    animation: fadeIn 6s forwards;
    animation-delay: 1.5s;

	img {
        margin-top: 8%;
		border-radius: 50px;
		display: block;
		margin: 0 auto;
		max-width: 50%;
		height: auto;
	}
}

.text-zone {
	position: relative;
	max-height: 90%;
	max-width: 95%;
	margin: 0 auto;
    margin-top: 0 !important;

	.delay1 {
		opacity: 0;
		animation: fadeIn 6s forwards;
		animation-delay: 1.5s;
	}

	.delay2 {
		opacity: 0;
		animation: fadeIn 4.5s backwards;
		animation-fill-mode: forwards;
		animation-delay: 3.5s;
	}

	h1 {
		display: inline-block;
		color: white;
		font-size: 6vmax;
		margin: 0 auto;
		font-weight: 500;
	}
	.name {
		color: hsl(0, 90%, 50%);
	}

	.hi {
		opacity: 0;
		animation: fadeIn 4s forwards;
		animation-delay: 1s;
	}
	h1,
	h2 {
		font-family: 'Coolvetica';
	}
	h2 {
		font-size: 4vmax;
		margin: 0 auto;
		font-weight: 400;
		color: hsl(0, 100%, 70%);
	}
	#contact-link {
		color: white;
		font-size: 2vmax;
		font-weight: 300;
		margin: auto;
		margin-top: 30px;
		display: block;
		padding: 10px 5px;
        line-height: 3vmax;
		text-decoration: none;
		border: 1px solid;
		width: 20vmax;
        animation: fadeIn 6s forwards;
    animation-delay: 1.5s;
    opacity: 0;
    border-radius: 10px;
	}
	#contact-link:hover,
	#contact-link:focus {
		color: grey;
		border-color: grey;
	}
}
