.text-zone {
	position: relative;
	max-height: 90%;
	max-width: 95%;
	margin: 0 auto;
    margin-top: 7%;

	.delay1 {
		opacity: 0;
		animation: fadeIn 6s forwards;
		animation-delay: 1.5s;
	}

	.delay2 {
		opacity: 0;
		animation: fadeIn 4.5s backwards;
		animation-fill-mode: forwards;
		animation-delay: 3.5s;
	}

	h1 {
		display: inline-block;
		color: white;
		font-size: 6vmax;
		margin: 0 auto;
		font-weight: 500;
	}
	.name {
		color: hsl(0, 90%, 50%);
	}

	.hi {
		opacity: 0;
		animation: fadeIn 4s forwards;
		animation-delay: 0s;
	}
	h1,
	h2 {
		font-family: 'Coolvetica';
	}
	h2 {
		font-size: 4vmax;
		margin: 0 auto;
		font-weight: 400;
		color: hsl(0, 100%, 70%);
	}
	.contact-link {
		color: white;
		font-size: 25px;
		font-weight: 300;
		margin: auto;
		margin-top: 30px;
		display: block;
		padding: 5px 0px;
		text-decoration: none;
		border: 1px solid white;
		width: 20vmax;
	}
	.contact-link:hover,
	.contact-link:focus {
		color: grey;
		border-color: grey;
	}
}
.home-page {
    margin-top: 6%;
}
