.text-zone {
	position: relative;
	max-height: 90%;
	max-width: 95%;
	margin: 0 auto;
    margin-top: 7%;

	.delay1 {
		opacity: 0;
		animation: fadeIn 6s forwards;
		animation-delay: 1.5s;
	}

	.delay2 {
		opacity: 0;
		animation: fadeIn 4.5s backwards;
		animation-fill-mode: forwards;
		animation-delay: 3.5s;
	}

	h1 {
		display: inline-block;
		color: white;
		font-size: 6vmax;
		margin: 0 auto;
		font-weight: 500;
	}
    .text {
		display: inline-block;
		color: white;
		font-size: 2vmax;
		margin: 0 auto;
		font-weight: 500;
	}
	.name {
		color: hsl(0, 90%, 50%);
	}

	.hi {
		opacity: 0;
		animation: fadeIn 4s forwards;
		animation-delay: 0s;
	}
	h1,
	h2 {
		font-family: 'Coolvetica';
	}
	h2 {
		font-size: 4vmax;
		margin: 0 auto;
		font-weight: 400;
		color: hsl(0, 100%, 70%);
	}
	.contact-link {
		color: white;
		font-size: 25px;
		font-weight: 300;
		margin: auto;
		margin-top: 30px;
		display: block;
		padding: 5px 0px;
		text-decoration: none;
		border: 1px solid white;
		width: 20vmax;
	}
	.contact-link:hover,
	.contact-link:focus {
		color: grey;
		border-color: grey;
	}
}
.home-page {
    margin-top: 6%;
}

.contact-form {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 0s;
            animation-fill-mode: forwards;
            width: 400px;
        }
        .row {
            width: 800px;
        }

        input[type='text'], input[type='email'], textarea
        {
            width: 90%;
            border: 0;
            background: hsl(200, 0%, 30%);
            height: 50px;
            font-size: 16px;
            color: hsl(200, 0%, 90%);
            margin: 1% auto;
            border-radius: 10px;
        }

        textarea {
            height: 100px;
            border-radius: 10px;
            width: 90%;
        }
    }

    .btn {
        background: 0 0;
        color: hsl(200, 0%, 90%);
        border: 1px solid hsl(200, 0%, 90%);
        width: 80px;
        border-radius: 10px;
        font-size: 16px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
    }
}