html {
    font-size: 60%;
}

body {
  margin: 0;
  color: white;
  text-align: center;
  font: 300 12px/1.5 'Coolvetica', 'Helvetica Neue';
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
}
::-webkit-scrollbar {
    width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
    background: hsl(240, 0%, 15%);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(240, 0%, 20%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(240, 0%, 25%);
}